.registration-window {/*окно*/
  text-align: center;
  width: 430px;
  height: 700px;
  padding: 0;
  margin-top: 100px;
  margin-left: 32%;
  background: #B4F5F9;
  border-radius: 17.4667px;
  display: inline-block;
}
.registration-window-caption{/*подпись окна*/
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 52.4px;
  line-height: 60px;
  margin-top:40px;
  margin-bottom: 30px;
}
.registration-form-input input{/*вводы*/
  width: 60%;
  height: 2.5em;
  background: #FFFFFF;
  border-radius: 17.4667px;
  border: 0;

  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;

  background-size: auto 90%;
  padding-left: 2.3em;
}
 .registration-form-input input[name="login"]{/*ввод логина*/
   background: #FFFFFF url("/log-in-icon.svg") no-repeat 2% 50%;
   margin-bottom: 1em;
}
.registration-form-input input[name="password"]{/*ввод пароля*/
  margin-bottom: 1em;
}
.registration-form-input input[type="password"]{/*ввод пароля*/
  background: #FFFFFF url("/pass-in-icon.svg") no-repeat 4% 40%;
}
.registration-error-input{/*ошибка данных*/
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: red;
  text-align: left;
  width: 40%;
  display: inline-block;
}
.registration-error-hidden{
  opacity: 0;
}
.authorization-link{/*создать аккаунт*/
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  width: 40%;
  display: inline-block;
}
.registration-button{/*кнопка логина*/
  width: 70%;
  height: 2em;
  background: #9E5DE0;
  border-radius: 10px;
  border: 0;

  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;

  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 0px #3c354a;
  position: relative;
}
.login-button:active{/*нажатие кнопки*/
  top:2px;
  box-shadow: 0 3px 0px #3c354a;
}
@media screen and (max-width: 950px){/*настройка для отображения на тетефоне*/
  .registration-window {/*окно*/
    padding:0;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 350px;
    height: 700px;
  }
  .registration-button{/*кнопка логина*/
  font-size: 40px;
  }
}
